html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.info-overlay {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
  width: 400px;
}

.info-overlay h3,
.info-overlay p {
  color: white;
  text-align: left;
}

#new {
  background: white;
  border: none;
  color: black;
}
